<div class="remove-container container-block">
  <h2 class="container-block-title">
    Download My Resume
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://drive.google.com/file/d/1ZDI65ngRhKf_W8C-ahlU6HGlK18-q-6Y/view?usp=sharing">One-Page Resume</a></li>
     <!--<li><a class="github-button" href="https://github.com/sharu725/online-cv" data-icon="octicon-star" data-show-count="true" aria-label="Star sharu725/online-cv on GitHub">Star</a>
     <script async defer src="https://buttons.github.io/buttons.js"></script> -->
  </ul>
</div><!--//About-->
