---

---

@charset "utf-8";
$imgKey: random(6);
$list: blue, turquoise, green, berry, orange, ceramic;
$nth: nth($list, $imgKey);
@import "skins/{{ #{$nth} | default: 'blue' }}"; // skin
@import "default"; // main partials
